
* {    
        font-family: sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* box-sizing: border-box;   has to do with padding.  border padding will not increase the overall width of the element.  if we dont want to add to the width of the element.  we can do this.  we're pushing the internal content, as opposed to growing the element.   */
    }

    /* LAYOUT
    *****************************************/
    .container {
        max-width: 980px;
        padding: 3% 5%;
        margin 0 auto;
    }
    
    .hero {
        background-image: url('../images/Longspace2.jpg');
        /* background-position:top center; */
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height: 5870px;

    }
    
    .title {
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 1570px;
        /* max-width: 600px; */
        padding: 5%;
        /* position: relative; */
        
        top: 30%;
        left: 10%;
    }   
    
    h1 {
        font-size: 60px;
        color: white;
        line-height: 1.2;  
        font-family: 'Orbitron', sans-serif;
     
        /* how much space is between each of the lines.  typography-  golden ratio*/
    }
    title p {
    /*used the parent seletor for titles in the paragraph . only one paragraph here.  we could go with just the paragraph tag.  if someone does add more content in the future though.  only styling the paragraph inside the style class.*/
    font-size: 24px;
    }

    /*FOOTER SECTION
    ************************************************/
    
    
    /* footer {
        background-color: #000;
        width: 100%;
        padding: 40px 20px;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    } */

    #title {
        color: white;
    }


    /* this paralax thing is hard to use:  

    .parallax {
        /* The image used */
        /* background-image: url("bg-hero1.jpg"); */
      /* background-color: white; */
        /* Set a specific height */
        /* height: 500px; */
      
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      } */