
* {    
        font-family: sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #indexHero {
        background-image: url('../images/Longspace.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #commentHero {
        background-image: url('../images/bg-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container {
        max-width: 980px;
        padding: 3% 5%;
    }
    
    .title {
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 1570px;
        padding: 5%;
        top: 30%;
        left: 10%;
    }   
    
    h1 {
        font-size: 60px;
        color: white;
        line-height: 1.2;  
        font-family: 'Orbitron', sans-serif;
    }
    title p {
    font-size: 24px;
    }

    #title {
        color: white;
    }
